---
import Container from "@/shared/ui/Container.astro";
---

<footer class='footer-container'>
  <Container>
    <address class='flex items-center justify-center not-italic text-gray-500'>
      <strong data-aos="fade-up" data-aos-delay="0" class='text-center'>Dmitrii Pavlov | Fullstack web-development | <a href='mailto:pavlov.programmer@gmail.com' class='text-gray-100'>pavlov.programmer@gmail.com</a></strong>
    </address>
  </Container>
</footer>

<style lang='scss'>
.footer-container {
  @apply bg-black text-gray-300 pt-10 md:pt-14 lg:pt-18 pb-30;
}
</style>